In [1]:
# import dependencies
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
# import dataset from https://www.kaggle.com/jameslko/gun-violence-data
shootings_df = pd.read_csv('~/Downloads/gun-violence-data_01-2013_03-2018.csv')
shootings_df.head()

,incident_id,date,state,city_or_county,address,n_killed,n_injured,incident_url,source_url,incident_url_fields_missing,...,participant_age,participant_age_group,participant_gender,participant_name,participant_relationship,participant_status,participant_type,sources,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,Mckeesport,1506 Versailles Avenue and Coursin Street,0,4,http://www.gunviolencearchive.org/incident/461105,http://www.post-gazette.com/local/south/2013/0...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||3::Male||4::Female,0::Julian Sims,NaN,0::Arrested||1::Injured||2::Injured||3::Injure...,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://pittsburgh.cbslocal.com/2013/01/01/4-pe...,NaN,NaN
1,460726,2013-01-01,California,Hawthorne,13500 block of Cerise Avenue,1,3,http://www.gunviolencearchive.org/incident/460726,http://www.dailybulletin.com/article/zz/201301...,False,...,0::20,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male,0::Bernard Gillis,NaN,0::Killed||1::Injured||2::Injured||3::Injured,0::Victim||1::Victim||2::Victim||3::Victim||4:...,http://losangeles.cbslocal.com/2013/01/01/man-...,62.0,35.0
2,478855,2013-01-01,Ohio,Lorain,1776 East 28th Street,1,3,http://www.gunviolencearchive.org/incident/478855,http://chronicle.northcoastnow.com/2013/02/14/...,False,...,0::25||1::31||2::33||3::34||4::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Male||1::Male||2::Male||3::Male||4::Male,0::Damien Bell||1::Desmen Noble||2::Herman Sea...,NaN,"0::Injured, Unharmed, Arrested||1::Unharmed, A...",0::Subject-Suspect||1::Subject-Suspect||2::Vic...,http://www.morningjournal.com/general-news/201...,56.0,13.0
3,478925,2013-01-05,Colorado,Aurora,16000 block of East Ithaca Place,4,0,http://www.gunviolencearchive.org/incident/478925,http://www.dailydemocrat.com/20130106/aurora-s...,False,...,0::29||1::33||2::56||3::33,0::Adult 18+||1::Adult 18+||2::Adult 18+||3::A...,0::Female||1::Male||2::Male||3::Male,0::Stacie Philbrook||1::Christopher Ratliffe||...,NaN,0::Killed||1::Killed||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://denver.cbslocal.com/2013/01/06/officer-...,40.0,28.0
4,478959,2013-01-07,North Carolina,Greensboro,307 Mourning Dove Terrace,2,2,http://www.gunviolencearchive.org/incident/478959,http://www.journalnow.com/news/local/article_d...,False,...,0::18||1::46||2::14||3::47,0::Adult 18+||1::Adult 18+||2::Teen 12-17||3::...,0::Female||1::Male||2::Male||3::Female,0::Danielle Imani Jameison||1::Maurice Eugene ...,3::Family,0::Injured||1::Injured||2::Killed||3::Killed,0::Victim||1::Victim||2::Victim||3::Subject-Su...,http://myfox8.com/2013/01/08/update-mother-sho...,62.0,27.0

In [3]:
# display summary of raw dataset
shootings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 239677 entries, 0 to 239676
Data columns (total 29 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   incident_id                  239677 non-null  int64
 1   date                         239677 non-null  object
 2   state                        239677 non-null  object
 3   city_or_county               239677 non-null  object
 4   address                      223180 non-null  object
 5   n_killed                     239677 non-null  int64
 6   n_injured                    239677 non-null  int64
 7   incident_url                 239677 non-null  object
 8   source_url                   239209 non-null  object
 9   incident_url_fields_missing  239677 non-null  bool
 10  congressional_district       227733 non-null  float64
 11  gun_stolen                   140179 non-null  object
 12  gun_type                     140226 non-null  object
 13  incident_characteristics     239351 non-null  object
 14  latitude                     231754 non-null  float64
 15  location_description         42089 non-null   object
 16  longitude                    231754 non-null  float64
 17  n_guns_involved              140226 non-null  float64
 18  notes                        158660 non-null  object
 19  participant_age              147379 non-null  object
 20  participant_age_group        197558 non-null  object
 21  participant_gender           203315 non-null  object
 22  participant_name             117424 non-null  object
 23  participant_relationship     15774 non-null   object
 24  participant_status           212051 non-null  object
 25  participant_type             214814 non-null  object
 26  sources                      239068 non-null  object
 27  state_house_district         200905 non-null  float64
 28  state_senate_district        207342 non-null  float64
dtypes: bool(1), float64(6), int64(3), object(19)
memory usage: 51.4+ MB

# Create/organize dataframe structures

In [4]:
# declare column structures for each dataframe to be made
total_columns = ['incident_id', 'date', 'state', 'latitude', 'longitude', 'n_killed', 'n_injured',
           'gun_type', 'gun_stolen', 'n_guns_involved', 'incident_characteristics', 
           'participant_age', 'participant_age_group', 'participant_gender', 'participant_status',
           'participant_type', 'notes', 'congressional_district', 'state_house_district',
           'state_senate_district']

incident_columns = ['incident_id', 'date', 'state', 'latitude', 'longitude', 'n_killed', 'n_injured',
           'incident_characteristics', 'notes', 'congressional_district', 'state_house_district',
           'state_senate_district']

participant_columns = ['incident_id', 'participant_gender', 'participant_age', 'participant_age_group', 
                    'participant_status', 'participant_type']

gun_columns = ['incident_id', 'gun_stolen', 'gun_type', 'n_guns_involved']

In [5]:
# drop all irrelevant columns
shootings_df = shootings_df[total_columns]

### Create Incidents Dataframe

In [6]:
# create incidents dataframe
incidents_df = shootings_df[incident_columns].copy()
incidents_df.head()

,incident_id,date,state,latitude,longitude,n_killed,n_injured,incident_characteristics,notes,congressional_district,state_house_district,state_senate_district
0,461105,2013-01-01,Pennsylvania,40.3467,-79.8559,0,4,Shot - Wounded/Injured||Mass Shooting (4+ vict...,Julian Sims under investigation: Four Shot and...,14.0,NaN,NaN
1,460726,2013-01-01,California,33.9090,-118.3330,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",Four Shot; One Killed; Unidentified shooter in...,43.0,62.0,35.0
2,478855,2013-01-01,Ohio,41.4455,-82.1377,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",NaN,9.0,56.0,13.0
3,478925,2013-01-05,Colorado,39.6518,-104.8020,4,0,"Shot - Dead (murder, accidental, suicide)||Off...",NaN,6.0,40.0,28.0
4,478959,2013-01-07,North Carolina,36.1140,-79.9569,2,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",Two firearms recovered. (Attempted) murder sui...,6.0,62.0,27.0

In [7]:
# set index as incident_id
incidents_df = incidents_df.set_index('incident_id')
incidents_df.head()

,date,state,latitude,longitude,n_killed,n_injured,incident_characteristics,notes,congressional_district,state_house_district,state_senate_district
incident_id,,,,,,,,,,,
461105,2013-01-01,Pennsylvania,40.3467,-79.8559,0,4,Shot - Wounded/Injured||Mass Shooting (4+ vict...,Julian Sims under investigation: Four Shot and...,14.0,NaN,NaN
460726,2013-01-01,California,33.9090,-118.3330,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",Four Shot; One Killed; Unidentified shooter in...,43.0,62.0,35.0
478855,2013-01-01,Ohio,41.4455,-82.1377,1,3,"Shot - Wounded/Injured||Shot - Dead (murder, a...",NaN,9.0,56.0,13.0
478925,2013-01-05,Colorado,39.6518,-104.8020,4,0,"Shot - Dead (murder, accidental, suicide)||Off...",NaN,6.0,40.0,28.0
478959,2013-01-07,North Carolina,36.1140,-79.9569,2,2,"Shot - Wounded/Injured||Shot - Dead (murder, a...",Two firearms recovered. (Attempted) murder sui...,6.0,62.0,27.0

In [8]:
# convert date to datetime
incidents_df.loc[:,'date'] = pd.to_datetime(incidents_df['date'])

In [9]:
# inspect dataframe
incidents_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 239677 entries, 461105 to 1081940
Data columns (total 11 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   date                      239677 non-null  datetime64[ns]
 1   state                     239677 non-null  object
 2   latitude                  231754 non-null  float64
 3   longitude                 231754 non-null  float64
 4   n_killed                  239677 non-null  int64
 5   n_injured                 239677 non-null  int64
 6   incident_characteristics  239351 non-null  object
 7   notes                     158660 non-null  object
 8   congressional_district    227733 non-null  float64
 9   state_house_district      200905 non-null  float64
 10  state_senate_district     207342 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(2), object(3)
memory usage: 21.9+ MB

In [10]:
# export sample to csv
incidents_df[0:1000].to_csv('./sample_transformations/sample_incidents.csv')

### Explode Function

In [11]:
## Explode columns function
## Takes in the DataFrame, columns containing multiple datapoints, and 
## name of sequential index that will be created
## Performs additional cleaning by casting datatype of incident_id

def explode_columns(df, columns, index_name):
    # store original DataFrame without exploded columns
    # serves as an "aggregator" for all the newly created DataFrames
    aggregate_df = df.drop(columns=columns)
    aggregate_df['temp_index'] = 0
    
    # declare MultiIndex structure in preparation for merge with
    # exploded DataFrames
    index = pd.MultiIndex.from_arrays([aggregate_df.index.values, aggregate_df['temp_index'].values], 
                                  names=['incident_index', 'temp_index'])
    aggregate_df = aggregate_df.set_index(index).drop(columns=['temp_index'])
    
    # loop through "to-be exploded" columns
    for col in columns:
        # extract column and split on '|' delimiter
        temp_series = df[col].str.split('\\|').apply(pd.Series, 1).stack().replace('', np.nan).dropna()
        temp_series.index = temp_series.index.droplevel(-1)
        temp_series.name = col
        
        # expand column on ':' delimiter, retain provided index to be used when merging
        temp_df = temp_series.str.split(':',expand=True).drop(columns=1)
        temp_df[0] = pd.to_numeric(temp_df[0])
        temp_df.rename(columns = {0: 'temp_index', 2:col}, inplace=True)
        
        # create multiIndex 
        index = pd.MultiIndex.from_arrays([temp_df.index.values, temp_df['temp_index'].values], 
                                  names=['incident_index', 'temp_index'])
        temp_df = temp_df.set_index(index).drop(columns=['temp_index'])
        
        # combine new DataFrame with aggregator DataFrame
        aggregate_df = aggregate_df.join(temp_df, on=['incident_index', 'temp_index'], how='outer').sort_index()
        
        # print status update
        print(f'Finished exploding and merging {col} column...')
    
    # fill non-exploded columns with repeat values within subindex
    aggregate_df[aggregate_df.columns.difference(columns)] = aggregate_df[aggregate_df.columns.difference(columns)].groupby(level=0).fillna(method='ffill')
    
    # drop indices used for merges
    aggregate_df = aggregate_df.reset_index(drop=True)

    # confirm incident_id is int
    aggregate_df.loc[:,'incident_id'] = pd.to_numeric(aggregate_df['incident_id'], downcast='integer')
    
    # set index name
    aggregate_df.index.name = index_name
    
    print('Done')

    return aggregate_df

### Create Suspects Dataframe

In [12]:
# create df for participants only
participants_df = shootings_df[participant_columns].copy()

In [13]:
# explode the columns with multiple data points into separate rows
exploded_participants_df = explode_columns(participants_df, participant_columns[1:], 'suspect_index')

Finished exploding and merging participant_gender column...
Finished exploding and merging participant_age column...
Finished exploding and merging participant_age_group column...
Finished exploding and merging participant_status column...
Finished exploding and merging participant_type column...
Done

In [14]:
# select suspects only and drop participant_type
suspects_df = exploded_participants_df.loc[exploded_participants_df['participant_type'] == 'Subject-Suspect']
suspects_df = suspects_df.drop(columns='participant_type')

In [15]:
# drop rows where all participant information is NaN
suspects_df = suspects_df.dropna(thresh=2)

In [16]:
# reset index and name
suspects_df.index = suspects_df.reset_index(drop=True).index.rename('suspect_index')
suspects_df.head()

,incident_id,participant_gender,participant_age,participant_age_group,participant_status
suspect_index,,,,,
0,461105,Female,NaN,Adult 18+,Injured
1,478855,Male,25,Adult 18+,"Injured, Unharmed, Arrested"
2,478855,Male,31,Adult 18+,"Unharmed, Arrested"
3,478925,Male,33,Adult 18+,Killed
4,478959,Female,47,Adult 18+,Killed

In [17]:
# convert age to numeric
suspects_df.loc[:,'participant_age'] = pd.to_numeric(suspects_df['participant_age'])

In [18]:
# get summary of df
suspects_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 193249 entries, 0 to 193248
Data columns (total 5 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   incident_id            193249 non-null  int32
 1   participant_gender     179454 non-null  object
 2   participant_age        110949 non-null  float64
 3   participant_age_group  164500 non-null  object
 4   participant_status     188677 non-null  object
dtypes: float64(1), int32(1), object(3)
memory usage: 6.6+ MB

In [19]:
# export sample to csv
suspects_df[0:1000].to_csv('./sample_transformations/sample_suspects.csv')

### Create Guns Dataframe

In [20]:
# create separate guns dataframe
guns_df = shootings_df[gun_columns].dropna(thresh=2).copy()

In [21]:
# explode gun columns
guns_df = explode_columns(guns_df, gun_columns[1:3], 'gun_index')
guns_df.head()

Finished exploding and merging gun_stolen column...
Finished exploding and merging gun_type column...
Done

           incident_id  n_guns_involved gun_stolen gun_type
gun_index
0               478855              2.0    Unknown  Unknown
1               478855              2.0    Unknown  Unknown
2               478959              2.0    Unknown  Handgun
3               478959              2.0    Unknown  Handgun
4               479363              2.0    Unknown    22 LR

In [22]:
# convert datatype of n_guns_involved
guns_df.loc[:,'n_guns_involved'] = pd.to_numeric(guns_df['n_guns_involved'], downcast='integer')

In [23]:
# inspect exploded df
guns_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192452 entries, 0 to 192451
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   incident_id      192452 non-null  int32
 1   n_guns_involved  192452 non-null  int16
 2   gun_stolen       191939 non-null  object
 3   gun_type         192047 non-null  object
dtypes: int16(1), int32(1), object(2)
memory usage: 4.0+ MB

In [24]:
# export sample to csv
guns_df[0:1000].to_csv('./sample_transformations/sample_guns.csv')

## Load Data into AWS

In [25]:
# import dependencies
import psycopg2
from sqlalchemy import create_engine
import time

# import db password
from config import db_password

In [26]:
# credentials for connecting to Postgres db
POSTGRES_ADDRESS = 'bootcamp-final-project.c8u2worjd1ui.us-east-1.rds.amazonaws.com'
POSTGRES_PORT = 5432
POSTGRES_USERNAME = 'peter_jennifer'
POSTGRES_PASSWORD = db_password
POSTGRES_DBNAME = 'us_gun_violence'

In [27]:
# creat connection string and database engine
db_string = f'postgres://{POSTGRES_USERNAME}:{POSTGRES_PASSWORD}@{POSTGRES_ADDRESS}:{POSTGRES_PORT}/{POSTGRES_DBNAME}'

engine = create_engine(db_string)

In [28]:
# method to divide dataframe into chunks
def get_chunks(df, size):
    return (df[pos:pos+size] for pos in range(0, len(df), size))

# method to import dataframe into database
def import_to_db(df, table_name, con_engine, chunksize):
    start_time = time.time()
    for i, chunk in enumerate(get_chunks(df, chunksize)):
        # print status update of rows being processed
        print(f'importing rows {i*chunksize} to {len(chunk) + i*chunksize}...', end='')
        
        if_exists_op = 'replace' if i == 0 else 'append'
        chunk.to_sql(name=table_name, con=con_engine, if_exists=if_exists_op, method='multi')

        # add elapsed time to print out
        print(f'Done. {time.time() - start_time} total seconds elapsed')

In [29]:
# import gun data in chunks
import_to_db(guns_df, 'guns', engine, 10000)

importing rows 0 to 10000...Done. 6.281087160110474 total seconds elapsed
importing rows 10000 to 20000...Done. 7.89958119392395 total seconds elapsed
importing rows 20000 to 30000...Done. 9.59179401397705 total seconds elapsed
importing rows 30000 to 40000...Done. 11.265558004379272 total seconds elapsed
importing rows 40000 to 50000...Done. 13.02695608139038 total seconds elapsed
importing rows 50000 to 60000...Done. 14.74648118019104 total seconds elapsed
importing rows 60000 to 70000...Done. 16.630521059036255 total seconds elapsed
importing rows 70000 to 80000...Done. 18.303403854370117 total seconds elapsed
importing rows 80000 to 90000...Done. 20.073851108551025 total seconds elapsed
importing rows 90000 to 100000...Done. 21.930694103240967 total seconds elapsed
importing rows 100000 to 110000...Done. 23.46575403213501 total seconds elapsed
importing rows 110000 to 120000...Done. 25.067842960357666 total seconds elapsed
importing rows 120000 to 130000...Done. 26.668272018432617 total seconds elapsed
importing rows 130000 to 140000...Done. 28.366653203964233 total seconds elapsed
importing rows 140000 to 150000...Done. 30.33355402946472 total seconds elapsed
importing rows 150000 to 160000...Done. 32.51847219467163 total seconds elapsed
importing rows 160000 to 170000...Done. 34.23340106010437 total seconds elapsed
importing rows 170000 to 180000...Done. 35.87615919113159 total seconds elapsed
importing rows 180000 to 190000...Done. 37.54003024101257 total seconds elapsed
importing rows 190000 to 192452...Done. 38.49489712715149 total seconds elapsed

In [30]:
# import suspect data in chunks
import_to_db(suspects_df, 'suspects', engine, 10000)

importing rows 0 to 10000...Done. 4.776438236236572 total seconds elapsed
importing rows 10000 to 20000...Done. 6.775734186172485 total seconds elapsed
importing rows 20000 to 30000...Done. 8.94242811203003 total seconds elapsed
importing rows 30000 to 40000...Done. 11.200937986373901 total seconds elapsed
importing rows 40000 to 50000...Done. 13.553981065750122 total seconds elapsed
importing rows 50000 to 60000...Done. 15.462363243103027 total seconds elapsed
importing rows 60000 to 70000...Done. 17.420438051223755 total seconds elapsed
importing rows 70000 to 80000...Done. 19.391269207000732 total seconds elapsed
importing rows 80000 to 90000...Done. 21.40748906135559 total seconds elapsed
importing rows 90000 to 100000...Done. 23.54546809196472 total seconds elapsed
importing rows 100000 to 110000...Done. 25.527475118637085 total seconds elapsed
importing rows 110000 to 120000...Done. 27.318705081939697 total seconds elapsed
importing rows 120000 to 130000...Done. 29.0953311920166 total seconds elapsed
importing rows 130000 to 140000...Done. 30.812369108200073 total seconds elapsed
importing rows 140000 to 150000...Done. 32.526424169540405 total seconds elapsed
importing rows 150000 to 160000...Done. 34.28337001800537 total seconds elapsed
importing rows 160000 to 170000...Done. 35.96537208557129 total seconds elapsed
importing rows 170000 to 180000...Done. 37.93964600563049 total seconds elapsed
importing rows 180000 to 190000...Done. 39.72370529174805 total seconds elapsed
importing rows 190000 to 193249...Done. 40.58042120933533 total seconds elapsed

In [31]:
# import incident data in chunks
import_to_db(incidents_df, 'incidents', engine, 10000)

importing rows 0 to 10000...Done. 6.650954961776733 total seconds elapsed
importing rows 10000 to 20000...Done. 10.426829099655151 total seconds elapsed
importing rows 20000 to 30000...Done. 14.669028759002686 total seconds elapsed
importing rows 30000 to 40000...Done. 18.79247784614563 total seconds elapsed
importing rows 40000 to 50000...Done. 22.639824867248535 total seconds elapsed
importing rows 50000 to 60000...Done. 26.626319885253906 total seconds elapsed
importing rows 60000 to 70000...Done. 30.61721897125244 total seconds elapsed
importing rows 70000 to 80000...Done. 34.7495858669281 total seconds elapsed
importing rows 80000 to 90000...Done. 39.4846248626709 total seconds elapsed
importing rows 90000 to 100000...Done. 43.53124713897705 total seconds elapsed
importing rows 100000 to 110000...Done. 47.823524713516235 total seconds elapsed
importing rows 110000 to 120000...Done. 51.482369899749756 total seconds elapsed
importing rows 120000 to 130000...Done. 55.50185298919678 total seconds elapsed
importing rows 130000 to 140000...Done. 59.37041783332825 total seconds elapsed
importing rows 140000 to 150000...Done. 63.47737908363342 total seconds elapsed
importing rows 150000 to 160000...Done. 67.493234872818 total seconds elapsed
importing rows 160000 to 170000...Done. 71.59770011901855 total seconds elapsed
importing rows 170000 to 180000...Done. 75.65277004241943 total seconds elapsed
importing rows 180000 to 190000...Done. 79.78385782241821 total seconds elapsed
importing rows 190000 to 200000...Done. 84.36982202529907 total seconds elapsed
importing rows 200000 to 210000...Done. 90.19308114051819 total seconds elapsed
importing rows 210000 to 220000...Done. 94.42331790924072 total seconds elapsed
importing rows 220000 to 230000...Done. 98.60586380958557 total seconds elapsed
importing rows 230000 to 239677...Done. 102.50496578216553 total seconds elapsed